$theme-colors: (
  "primary": #185F53,
  "secondary": #FCC03E,
  "dark": #111,
  "gray": #646464,
  "black": black,
);

$verde: #185F53;
$amarillo: #FCC03E;
$gris: #646464;

body{
    overflow-x: hidden;
    font-size: 1.2vw !important;
    color: rgba(0, 0, 0, 0.9);
}

.boldy{
    font-size: 48px;
    font-weight: bold;
}

.icon-size{
    font-size: 90px;
    
}

.verde{
    color: $verde !important;
}

.gris{
    color: $gris !important;
}

.amarillo{
    color: $amarillo !important;
}

p{
    text-align: justify;
}

.navbar-nav .active{
    border-bottom: 4px solid $verde;
}

.nav-btn{
    padding: .4em 2em !important;
}

.separador{
    border-bottom: 4px solid $verde;
    width: 40%; 
    margin-bottom: 1em;
}

.d-fle-c{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"]{
    width: 400px;
    height: 45px;
    padding-left: 1em;
}

.input-btn{
    height: 45px;
    background: $amarillo;
    font-weight: bold;
    color: #f0f0f0;
    border-color: $amarillo;
}

.untit{
    .container{
    
        @media screen and (min-width: 1366px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .content{
            .padd{
                padding: 4em;
            }
            .superseparador{
                height: 1em;
                width: 80px;
                background: $verde;
            }
            h2{
                font-size: 54px;
            }
        }
    }
}

.footer{
    padding: 150px 0;
    padding-bottom: 80px;
    background: #111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    color: white;
    a{
        color: rgb(255, 255, 255);
        &:hover{
            color: $amarillo
        }
    }

}

.padd{
    padding: 2em 0;
    margin-bottom: -100px;
    position: relative;
    z-index: 2;
}

.copy{
    padding: 1.25em 0;
    p{
        margin: 0;
    }
}

.border-round{
    border-radius: 14px;
}

@import "part/main-section";
@import "part/nuestro-equipo";
@import "part/mision-vision";
@import "part/impresoras-fiscales";
@import "part/servicios";
@import "part/entrenamientos";
@import "part/suscripciones";

// Custom.scss
// Option A: Include all of Bootstrap

@import "bootstrap";

