.main-bg{
    background-image: url(../img/022.png);
    background-position-x: 90%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 700px;
    h1{
        font-size: 64px;
    }
    p{
        text-align: justify;
        width: 80%;
    }
    .contenedor{
        width: 80%;
        margin: auto;
        padding-top: 80px;
        @media screen and (min-width: 1366px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
        }
    }
    @media screen and (max-width: 520px){
        background-size: contain;
        background-position-y: bottom;
        h1{
            font-size: 12vw;
        }
    }

}

.main-img{
    height: 480px;
    width: 350px;
    //background: url(../img/0.jpg);
    background-size: cover;
}