.vision-mision{
    height: 100vh;
    @media screen and (min-width: 1366px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        .content{
            width: 70%;
            margin: auto;
        }
    }
}

.mision-vision-gridy{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-height: 150px;
    margin-bottom: 1em;
    .mision-vision-gridy-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1em;
    }
}