
.socials-cont{
    @media screen and (max-width: 999px){
        position: fixed;
        right: -58px;
        top: 40%;
        z-index: 999;
        border-radius: 8px 0 0 8px;
        display: grid;
        grid-template-columns: .24fr 1fr;
        align-items: center;
    }
}

.socials{
    background: rgb(255, 255, 255);
    padding: 1em 1em;
    a{
        display: block;
        font-size: 28px;
        transition: .4s all ease;
        &:hover{
            transition: .4s all ease;
            transform: scale(1.2)
        }
    }
    @media screen and (min-width: 999px){
        position: fixed;
        right: 0;
        top: 40%;
        z-index: 999;
        border-radius: 8px 0 0 8px;
    }
}

#social-trigger{
    background: white;
    padding: 4px 0;
    padding-left: 2px;
    border-radius: 4px 0 0 4px;
    @media screen and (min-width: 1024px){
        display: none;
    }
}

.show{
    right: 0 !important;
}