.suscripciones{
    @media screen and (min-width: 1024px){
        min-height: 70vh;
    }
    margin-bottom: 5%;
    @media screen and (min-width: 1366px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .susc{
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 500px){
            display: inherit;
            padding: 40% 2%;
        }
        h2{
            font-size: 54px;
            color: white !important;
        }
        p{
            color: white;
        }
    }

    .left{
        div{
            height: 100%;
            width: 100%;
        }
    }
}