body {
    font-family: 'Lato', sans-serif;
    max-width: 1366px;
    margin: auto;
    overflow-x: hidden;
}

p{
    font-size: 20px;
    color: #464646;
    line-height: 140%;
}


ul,li{
    font-size: 20px;
    color: #464646;
}

li{
    margin-top: 24px;
}

.white{
    color: white;
}

.row{
    width: 100%;
}

.fixh{
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.container-section{
    width: 80%;
    margin: auto;
}


/* ==================================================================================
HEADER
=====================================================================================*/

.logocont {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    z-index: 30;
    max-width: 1366px;
/*     margin-bottom: -110px; */
}

.fullimg {
    background: url(../img/uno.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.bluelayer {
    background: rgba(41, 122, 251, 0.561);
 /*    position: absolute; */
    height: 100vh;
    width: 100%;
    margin-top: -100vh;
    z-index: 20;
}

.headerp{
 /*    position: absolute; */
    height: 100vh;
    width: 100%;
    margin-top: -100vh;
    color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.textcont{
    margin-top: 35vh;
    margin-left: 10vw;
    width: 38vw;
    height: 100vh;
}

.textcont h2{
    font-size: 42px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.textcont p{
    margin: 0;
    padding: 0;
}

.separador-blanco{
    border-bottom: solid white 3px;
    width: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
}


/* ==================================================================================
SECTION 01
=====================================================================================*/

.separador-azul{
    width: 80px;
    border: #172A48 solid 1.7px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 55px;
}

.container-section h2{
    text-align: center;
    font-size: 36px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.container-section p{
    font-weight: 300;
    width: 460px;
    font-size: 18px;
}

.logogrande{
    width: 500px;
    height: 500px;
}

.contenido-section{
    display: flex;
    justify-content: space-between;
}

.aligncenter{
    text-align: justify;
}

/* ==================================================================================
SECTION 02
=====================================================================================*/

#soluciones-pmc-asset-management{
    background: rgb(238, 238, 238);
    padding-top: 15%;
    padding-bottom: 15%;
}

.altura{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    
}

.soluciones-cont h2{
    text-align: center;
    color: #172A48;
    font-size: 36px;
}

.esquema{
    display: flex;
    justify-content: space-between;
}

.column h4{
    background: #172A48;
    color: white;
    padding: 20px 35px 20px 35px;
    text-align: center;
    margin: auto;
}

.column p{
    text-align: center;
    width: 190px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px
}

.columnfix h4{
    padding: 12px 35px 12px 35px;
    text-align: center;
}

.arrow-down{
    border-right: 4px #172A48 solid;
    border-bottom: 4px #172A48 solid;
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    margin: auto;
}


.arrow-up{
    border-right: 4px #172A48 solid;
    border-bottom: 4px #172A48 solid;
    height: 24px;
    width: 24px;
    transform: rotate(-135deg);
    margin: auto;
}

.bottom-column{
    font-weight: 700;
    text-align: center;
    background: #172A48;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    margin: auto;
    margin-top: 5%;
}

.bottom-column p{
    color: white;
}

.bottom-column span{
    line-height: 2px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.img-contsc{
    width: 50%;
    margin: auto;
}
.soluciones-cont img{
    height: 240px;
}

/* ==================================================================================
SECTION 03
=====================================================================================*/

#conocer-mas{
    border: #646464 solid 7px;
}
.conocer-mas-bg{
    background: url(../img/mesa.jpg);
    background-size: cover;
    filter: blur(2px);
    height: 60vh;
    width: 100%;
    margin-bottom: -60vh;
    z-index: -2;
    
}

.conocer-mas-blayer{
    background: rgba(0, 0, 0, 0.39);
    height: 60vh;
    margin-bottom: -60vh
}

.conocer-mas-cont h2{
    font-size: 32px;
    text-align: center;
}

.conocer-mas-cont p{
    text-align: center;
}

.altura50{
    height: 60vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.altura50 p{
    color: white;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    font-weight: bold;
}

input{
    width: 380px;
    height: 36px;
}

.inputs-flex div{
    margin-left: 48px;
}
.inputs-flex{
    display: flex;
    justify-content: space-between;
}

button{
    background: #172A48;
    padding: 15px 30px;
    color: white;
    transition: .4s;
}

.btn{
    margin-top: 28px;
}
button:hover{
    background: white;
    color: #172A48;
    transition: .4s;
}

/* ==================================================================================
SECTION 04
=====================================================================================*/
#asesoria-y-consultoria{
    background: #dfdfdf;
}
.ayc-cont-flex{
    height: 100vh;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.ayc-cont{
    display: flex;
    justify-content: space-between;
}

.ayc-img{
    height: 90vh;
    width: 450px;
    background: url(../img/pantallas.jpg);
    background-size: cover;
    margin-top: 33.30px;
    align-items: center;
}

.ayc-text{
    width: 420px;
}

.ayc-text p{
   margin-top: 60px;
}

.ayc-text h2{
    font-size: 36px;
    margin-bottom: 5px;
    padding: 0;
}

.ayc-separador{
    border-bottom: #172A48 solid 4px;
    width: 50px;
    margin-top: 5px;
    padding: 0;
}

/* ==================================================================================
SECTION 05
=====================================================================================*/
#apoyo{
    border: #646464 solid 7px;
}
.apoyo-bg{
    background: url(../img/siete.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin-bottom: -80vh;
/*     position: absolute; */
    z-index: -2;
    
}

.apoyo-blayer{
    background: rgba(0, 0, 0, 0.609);
    height: 80vh;
    margin-bottom: -80vh
}

.apoyo-cont h2{
    font-size: 32px;
    text-align: center;
}

.apoyo-cont p{
    text-align: center;
}

.apoyo-separadorblanco{
    border-bottom: white 4px solid;
    width: 90px;
    margin: auto;
}

.altura80{
    height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.altura80 p{
    color: rgb(255, 255, 255);
}

.apoyo-puntos {
    display: flex;
    justify-content: space-between;
}

.apoyo-puntos li{
    color: white;
}

/* ==================================================================================
SECTION 06
=====================================================================================*/
#asesoria-y-consultoria-internacional{
    background: #dfdfdf;
}
.ayci-cont-flex{
    height: 100vh;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;

}

.ayci-cont{
    display: flex;
    justify-content: space-between;
}

.ayci-img{
    height: 75vh;
    width: 450px;
    background: url(../img/city2.jpg);
    background-size: cover;
    align-items: center;
}

.ayci-text{
    width: 600x;
}

.ayci-text div{
    margin-top: 15px;
    margin-left: 30px;
    border: #172A48 solid 2px;
}

.ayci-text p{
   margin: 20px;
}

.ayci-cont-flex h2{
    font-size: 36px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
}

.ayci-cont-flex-p{
    text-align: center;
}

.ayci-separador{
    border-bottom: #172A48 solid 4px;
    width: 80px;
    margin: auto;
    margin-top: 15px;
    padding: 0;
}

/* ==================================================================================
SECTION 07
=====================================================================================*/

#gestion{   
}

.gestion-bg{
    background: url(../img/city1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.gestion-blayer{
    background: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100vh;
}

.gestion-cont{
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.gestion-derecha{
    width: 30vw;
}

.gestion-izquierda{
    width: 40vw;
}

.gestion-cont h2{
    font-size: 48px;
}


.gestion-cont li,
.gestion-cont p{
    color: white;
}

/* ==================================================================================
SECTION Contacto
=====================================================================================*/

#contacto{
margin-top: 15%;
margin-bottom: 15%;
}

.contacto-flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.contacto-izquierda h2{
    font-size: 42px;
    padding-bottom: 0;
}

.separador-contacto{
    border-bottom: #172A48 4px solid;
    width: 6em;
}

.contacto-izquierda{
 width: 30vw;
}

.contacto-derecha{
    width: ;
    height: ;
}

.contacto-derecha img{
    width: 100%;
    height: 100%;
}

.contacto-derecha img{
    height: 100%;
    width: 100%;
}



/* ==================================================================================
SECTION FOOTER
=====================================================================================*/

footer{
    background: #172A48;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    color: white;
}

.logofooter{
    margin: auto;
}
