* {
    transition: .6s;
}

@font-face {
    font-family: 'palatinoregular';
    src: url('../font/palatino-webfont.woff2') format('woff2'),
         url('../font/palatino-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.arriba{
    position: fixed;
    z-index: 9999999;
    top: 90%;
    left: 90%;
    border: rgba(23, 42, 72, 0) 4px solid;
}

.arriba:hover{
    border: #172A48 4px solid;
}

ol{
    color: #646464;
}
body {
    font-family: 'palatinoregular';
    overflow-x: hidden;
}

.menu-m{
    position: fixed;
    z-index: 999999999;
    height: 100vh;
    width: 100%;
    background: #172A48;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-m nav{
    flex-direction: column;
    display: flex;
    text-align: center;
}

.menu-m nav a{
    color: white;
}

.cerrar{
    color: white;
    background: rgb(13, 28, 51);
    padding: 1.5%;
    position: absolute;
    top: 5%;
    left: 90%;
}

.cerrar:hover{
    background: black;
    cursor: pointer;
}
p {
    text-align: justify;
    color: #646464;
    line-height: 140%;
}

a {
    text-decoration: none;
}

h2 {
    color: #646464;
    font-weight: normal;
}

h3 {
    color: white;
    font-weight: normal;
}

.enfasis{
    background: #172A48;
    padding: 4px 8px;
}

header {
    background: rgba(23, 42, 72, 0);
    position: fixed;
    width: 100%;
    top: 0;
}

.aheader{
    background: #172A48;
    border-bottom: #172A48 3px solid;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide1 {
    background: url(../img/comp/slide1.jpg);
    background-size: cover;
}

.slide2 {
    background: url(../img/comp/slide2.jpg);
    background-size: cover;
}

.slide3 {
    background: url(../img/comp/slide3.jpg);
    background-size: cover;
}

.slide4 {
    background: url(../img/comp/slide4.jpg);
    background-size: cover;
}

.slide5 {
    background: url(../img/comp/slide5.jpg);
    background-size: cover;
}

.slide6 {
    background: url(../img/comp/slide6.jpg);
    background-size: cover;
}

.slide {
    height: 100vh;
    width: 100%;
    margin-top: -100vh;
}

.blayer {
    background: rgba(23, 42, 72, 0.671);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: -100vh;
}


header div nav {
    color: white;
    text-decoration: white;
    /* width: 50%; */
    display: flex;
    align-items: center;

}

header div nav a {
    color: white;
    text-decoration: white;
    border-bottom: rgba(255, 255, 255, 0) 2px solid;
}

header div nav a:hover {
    border-bottom: white 2px solid;
}

header div nav span {
    padding: 0 14px;
}

.titulo-slider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-slider h2 {
    color: white;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 10px;
}

.separador-blanco {
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: 1px;
    border-bottom: white solid 4px;

}

.slider-btn-cont p {
    margin: 0;
    text-align: center;
    line-height: 60px;
}

.slider-btn {
    color: white;

}

.btn-slider-x {
    padding: 15px 15px;
    background: rgba(0, 0, 0, 0.609);
}

.btn-slider-y {
    color: #172A48;
    background: white;
    cursor: default;
}

.logo{
    padding: 20px;
    /* width: 50%; */
}

.menuh{
    opacity: .9;
    height: 40px;
    padding: 20px;
}

.menuh:hover{
    background: black;
    cursor: pointer;
}

.social-btn{
    padding: 0 6px;
}

/* ====================================================================
SECTION 01 // LA FIRMA
==================================================================== */

#la-firma .izquierda {
    background: rgb(214, 214, 214);
    margin-top: 24px;
}

#la-firma .derecha{
    display: none;
}

.la-firma {
    width: 90%;
    margin: auto;
    padding: 5% 0;
}


.ns {
    width: 90%;
    margin: auto;
    padding: 5% 0;
}

.btn-center{
    text-align: center;
}


#la-firma .derecha .img {
    background: url(../img/comp/slide2.jpg);
}


/* ====================================================================
SECTION 02 // CONOZCANOS
==================================================================== */

.centrar {
    text-align: center;
    width: 310px;
}

.conozcanos-blayer {
    width: 100%;
}

#conozcanos {
    background: url(../img/comp/bg.jpg);
    background-size: cover;
}

.conozcanos-cont {
    padding: 5% 0;

}

/* ====================================================================
SECTION 03 // NUESTRA ESPECIALIDAD
==================================================================== */

#nuestra-especialidad .derecha {
    display: none;
}

#esp .derecha {
    background: url(../img/comp/slide5.jpg);
    background-size: cover;
}

.orange-row {
    background: #CF9355;
    padding: 2.5% 0;
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    flex-direction: column;
}

#contacto img {
    padding: 2.5%;
}

.orange-row p {
    color: white;
    /* font-weight: bold; */
    text-align: center;
    font-size: 22px;
}

footer {
    background: #172A48;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 50px;
    padding: 1.5% 0;
}

.btn {
    background: #646464;
    color: white;
    padding: 15px;
}

.btn:hover {
    background: #172A48;
    color: white;

}
.menuh{
    display: inherit;
}

footer img{
    height: 35px;
    padding-right: 5%;
}

.info-box h3{
    color: #646464;
    font-size: 26px;
    margin-bottom: 0;
    border-left: #172A48 4px solid;
    padding-left: 8px;
}

.info-box{
    width: 90%;
    margin: auto;
}

.blue{
    color: #172A48;
}

.j-logo{
    display: none;
}

.j-derecha p{
    font-weight: bold;
    background: #f1f1f1;
    padding: 16px;
    padding-right: 0;
}

.jhfix{
    min-height: 100vh;
    
}
.j-derecha .btn{
    width: calc(16*6px);
    text-align: center;
    margin-bottom: 5%;
}
.a-mobile-only{
    display: inherit;
}
.cscscs{
    display: none;
}
@media only screen and (min-width: 1024px) {
    .cscscs{
        display: inherit;
    }
    .a-mobile-only{
        display: none;
    }
    .jhfix{
        min-height: 100vh;
        padding-bottom: 5%;
        
    }
    .info-box{
        width: 45%;
        margin: 0 2.5%;
    }
    .j-container{
        display: flex;
    }

    .j-derecha{
        background: url(../img/comp/j-bg.svg);
        background-size: cover;
        width: 50%;
        height: 100vh;
        margin: 0;
        left: 50%;
        position: fixed;
    }

    .j-footer{
        position: relative;
    }

    .j-derecha .btn{
        width: calc(16*6px);
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        margin-top: -5%;
    }

    .j-logo{
        display: inherit;
        height: 200px;
        margin: auto;
        margin-top: 15%;
    }

    .j-derecha p{
        font-weight: normal;
        background: none;
        padding: 34px;
        padding-top: 0;
        text-align: center;
        color: #dadada;
    }
  /*   .menu-m{
        display: none;
    } */
    .slider-btn-cont{
        display: inherit;
    }

    #contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 0;
        flex-direction: inherit;
    }

    .menuh{
        display: none;
    }

    .contenedor-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
    }

    #la-firma .derecha{
        display: inherit;
    }

    #la-firma {
        display: flex;
        margin-top: 24px;
        /*         border-top: #172A48 solid 24px;
        border-bottom: #172A48 solid 24px; */
    }

    #la-firma .izquierda {
        background: rgb(214, 214, 214);
        margin-top: 0;
    }

    #la-firma .izquierda {

        background: rgb(214, 214, 214);
        width: 50%;
    }

    #esp .izquierda {

        background: rgb(214, 214, 214);
        width: 50%;
    }

    .la-firma {
        width: 80%;
        margin: auto;
        padding: 5% 0;
    }

    .ns {
        width: 80%;
        margin: auto;
        padding: 5% 0;
    }

    .botones {
        display: flex;
        justify-content: space-between;
    }

    .conozcanos-cont {
        width: 80%;
        margin: auto;
    }

    .btn-center {
        margin: auto;
        width: 190px;
    }


    #nuestra-especialidad .derecha {
        display: inherit;
    }

    #esp {
        display: flex;
        justify-content: space-between;
        /*         border-top: #172A48 solid 24px;
        border-bottom: #172A48 solid 24px; */
    }

    header div nav {
        color: white;
        text-decoration: white;
  /*       width: 70%;
        margin-left: 25%; */
    }

}
.fixspan{
    display: none;
}


@media only screen and (max-width: 1024px) {
    header div nav {
        display: none;
    }
    .menuh{
        display: inherit;
    }
    #nuestra-especialidad #esp .izquierda{
        background: rgb(214, 214, 214);
    }

    #la-firma .izquierda {
        background: rgb(214, 214, 214);
        margin-top: 0;
    }
    .fixspan{
        display: none;
    }
/*     .menu-m{
        display: none;
        position: absolute;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background: #172A48;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
}

@media only screen and (max-width: 768px){
    .botones{
        display: flex;
    }
    .titulo-slider h2 {
        color: white;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 10px;
        text-align: center;
    }
    .fixspan{
        display: none;
    }
/*     .menu-m{
        display: none;
        position: absolute;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background: #172A48;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
}

@media only screen and (max-width: 490px){
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fixspan{
        display: inherit;
    }
/*     .menu-m{
        display: none;
        position: absolute;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background: #172A48;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    footer {
        background: #172A48;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding: 20px;
        width: 50%;
    }

}

@media only screen and (max-width: 375px){
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fixspan{
        display: none;
    }
/*     .menu-m{
        display: none;
        position: absolute;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background: #172A48;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    .onlydesktop{
        background: #172A48;
    }
}

@media only screen and (max-width: 320px){
    .slider-btn-cont {
        display: none;
    }
    .fixspan{
        display: none;
    }
/*     .menu-m{
        display: none;
        position: absolute;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background: #172A48;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
}