@keyframes rotate {
    0%{
        transform: rotate(0deg)
    }

    20%{
        transform: rotate(45deg)
    }
    90%{
        transform: rotate(45deg)
    }
    100%{
        transform: rotate(0deg)
    }
    
}

@keyframes parpadeo {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes levitar {
    0%{
        transform: scale(1);
    }
    55%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes rotate360 {
       
        to{
            transform: rotate(360deg);
        }
    }

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes luz {
    0%{
        transform: scale(.5);
        opacity: 1;
    }

    80% {
        transform: scale(.8);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}
body{
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Oxygen', sans-serif;
    overflow: hidden; 
    transition: .4s ease-in-out;
}

.typed-cursor {
    opacity: 1;
}

p,
h1,
h2,
h3,
ul{
    color: white;
}

a{
    text-decoration: none;
}

.justify{
    text-align: justify;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}
.puntas{
    animation: rotate360 3s linear infinite;
    animation-delay: 7s;
    transform-origin: 50% 50%;
    filter: blur(7px);
    
}

.cls-2 {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
}


.insidei {
    transition: .5s;
    fill: rgb(11, 78, 202);
    filter: blur(10px);
    transform: scale(0.7);
    transform-origin: 50% 50%;
}

.standBy {
    transition: .5s;
    fill: rgb(255, 255, 255);
    filter: blur(10px);
    transform: scale(0.7);
    transform-origin: 50% 50%;
}


.seva {
    transition: .5s;
    fill: rgb(195, 17, 17);
    filter: blur(10px);
    transform: scale(1);
    transform-origin: 50% 50%;
}

.center{
    text-align: center;
}

.contenedorx{
  width: 320px;
  margin: auto;
  padding-top: 15vh;
}

.siri {
  animation: levitar 2s infinite;
  animation-delay: 5s;
  transform-origin: 50% 50%;
  
}

.ptest{
    color: white;
    text-align: center;

}

#sobrantes,
#middleline,
#primeralineaderecha,
#primeralineaizquierda,
#segundalineaderecha,
#segundalineaizquierda,
#terceralineaderecha,
#terceralineaizquierda,
#cuartalineaderecha,
#cuartalineaizquierda,
#quintalineaderecha,
#quintalineaizquierda,
#puntaIzquierda,
#puntaDerecha,
#middle {
    fill: rgb(255, 255, 255);
}

.rotate {
    animation: rotate 1s;
    transform-origin: 50% 50%;
}


.middlepoint {
    
    animation-name: parpadeo;
    animation-duration: .4s;
    animation-iteration-count: 3;
    transform-origin: 50% 50%;
}

.max{
    height: 100vh;
    width: 100%;
    opacity: 1;
}

.conversation{
    width: 50%;
    margin: auto;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    transition: .5s;
}

.borderright{
    border-radius: 21px 0px 21px 21px;
}

.borderleft{
    border-radius: 0px 21px 21px 21px;
}

.right{
    text-align: right;
}

button:hover {
    background-color: white;
    color: black;
    transition: .5s;
    cursor: pointer;
}

.cls-x{
    fill: black;
}

.saltarintro{
    text-align: center;
    font-weight: bold;
    font-size: .7em;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.548);
}

.saltarintro:hover{
    color: white;
}

.newby{
    stroke: rgb(0, 87, 250);
    stroke-miterlimit: 10;
}

.newbz{
    animation: luz 5s infinite ease-out;
    stroke: rgb(9, 77, 204);
    stroke-miterlimit: 10;
    fill: none;
    filter: blur(5px);
    transform-origin: 50% 50%;
}

.barra{
    height: 5px;
    width: 100%;
    background:rgb(9, 77, 204);
}

#derechas {
    background:rgb(9, 77, 204);
    height: 100vh;
    transition: .4s ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
}

.transition {
    transition: .4s ease-in-out;
}

input[type=text] {
    background: rgb(39, 39, 39);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid rgb(9, 77, 204);
    border-radius: 2px 2px 0px 0px;
    transition: 0.5s;
    outline: none;
    color: white;
}

input[type=text]:focus {
    background: none;

}

.closeicon{
    text-align: right;
    padding: 0px 30px 30px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

.closeicon:hover{
    text-shadow: 2px 2px #ff0000;
    transition: .4s;

}

.nofill{
    fill: none;
}

.socialbtn{
    fill: rgb(255, 255, 255);
    transform: scale(.8);
    padding-left: 1vw;
    padding-right: 1vw;
    transition: .2s;
}

.socialbtn:hover{
    transform: rotate(10deg) scale(1);
    transition: .2s;
}

.bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background: #000000;
  }

  .card{
      padding-bottom: 10px;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 15px;
      margin-right: 25px;
      border-bottom: 1.4px solid rgba(0, 0, 0, 0.253);
      transition: .2s;
    }

  .card:hover{
      background: #00258b;
      padding: 20px;
      transition: .4s;
  }

  .bottomfix{
      height: 100px;
  }

  .cardImg{
    max-height: 150px;
    transition: .4s;
    padding-right: 7.5px;
  }

  .cardImg:hover{
    transition: .4s ease-in .2s;
    max-height: 500px;
    padding: 15px;
  }

  .cardInfo{
    text-align: justify;
    padding: 0;
    padding-left: 0;
    margin: 0;
  }

  .cardInfo{
      padding: 0;
  }

  .cardT{
      margin: 0px;
      margin-bottom: 5px;
      padding: 0px;
      font-size: 1.2em;
      line-height: 15px;
  }

  .parrafo{
      margin: 0;
      padding-right: 10px;
  }

.skillss{
    width: 24px;
    margin-right: 10px;
}

#profilepic{
    text-align: center;
    padding-top: 15%;
    background: url(/img/profilebg.jpg);
    background-size: cover;
}

.profilepic{
    border-radius: 100%;
    border: rgb(9, 77, 204) solid 5px;
    max-width: 120px;
    margin-bottom: -10%;
}

.fixspace{
    height: 60px;
}

.contenido{
    background: rgb(9, 77, 204);
}

